.about {
  width: 1440px;
  height: 338px;
  justify-content: center;
  background-image: url("../assets/Photos/bg-about.png");
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 100px right 0px;
}

.title {
  font-family: "Aboreto-Regular";
  font-size: 56px;
  font-weight: normal;
  line-height: 64px;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  line-height: 28px;
}
