.bartendersWrap {
  width: 1440px;
  min-height: 338px;
  margin-right: 100px;
  margin-left: 10px;
  justify-content: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #f7f6f6;
}

h3 {
  font-family: "Aboreto-Regular";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 100px;
  margin-left: 250px;
  text-align: center;
  color: #000000;
}

/* wrap1 */
.wrap1 {
  display: flex;
  background-color: #f7f6f6;
}
.wrap1 .img1 {
  width: 350px;
  height: 450px;
  margin-left: 100px;
  /* margin: 50px 0px 0px 100px; */
  /* left: 100px; */
  /* top: 1796px; */
  /* bottom: 0%; */
  background-image: url("../assets/Photos/michael-dam-mEZ3PoFGs_k-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 .hannah {
  font-size: 24px;

  margin-top: 200px;
}
.text1 p {
  width: 840px;
  height: 196px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  /* margin-left: 100px; */
  margin: 120px 80px 0 50px;
  text-align: left;
}

/* wrap2 */
.wrap2 {
  display: flex;
  background-color: #f7f6f6;
}
.text2 .ava {
  font-size: 24px;
}
.text2 p {
  width: 840px;
  height: 196px;
  float: left;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  /* text-align: left; */
}
.wrap2 .img2 {
  width: 350px;
  height: 450px;
  left: 990px;
  top: 2296px;
  float: right;
  color: #d9d9d9;
  background-image: url("../assets/Photos/prince-akachi-J1OScm_uHUQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* wrap3 */
.wrap3 {
  display: flex;
  background-color: #f7f6f6;
}
.wrap3 .img3 {
  width: 350px;
  height: 450px;
  float: left;
  color: #d9d9d9;
  background-image: url("../assets/Photos/austin-wade-X6Uj51n5CE8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text3 .jack {
  font-size: 24px;
}
.text3 p {
  width: 840px;
  height: 196px;
  float: right;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin: 120px 80px 0 50px;
  text-align: left;
}
