.bartenderRight {
  width: 100%;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.bartenderRight img {
  display: flex;
  width: 350px;
  height: 450px;
  float: right;
}

.bartenderRight,
.subTitle {
  font-family: "Aboreto-Regular";
  text-align: left;
  font-size: 24px;
}

.bartenderRight,
.text {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 70px;
}
