.bartenderRight img {
  display: flex;
  width: 350px;
  height: 450px;
  float: right;
  padding-bottom: 35px;
}

.subTitle {
  font-family: "Aboreto-Regular";
  text-align: left;
  font-size: 24px;
  /* margin: 80px 0px 25px 0px; */
  /* padding: 70px 0px; */
  /* height: 32px; */
}

.text {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 5px 30px 35px;
  margin: 10px 5px 15px -1px;
}
