.bartenderLeft {
  border: 5px solid goldenrod;
  width: 100%;
  padding-bottom: 70px;
  /* margin-bottom: ; */
}

.bartenderLeft img {
  display: flex;
  width: 350px;
  height: 450px;
  float: left;
}
.bartenderLeft img,
.subTitle {
  padding-right: 25px;
}

.subTitle {
  font-family: "Aboreto-Regular";
  text-align: left;
  justify-content: start;
  font-size: 24px;
  margin: 40px 0px 25px 0px;
  padding: 60px 5px 40px 0px;
}

.bartenderLeft,
.text {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 5px 5px -75px;
  margin-bottom: 13px;
}
