.bartenders {
  width: 1440px;
  height: 1564px;
  justify-content: center;
  background-image: url("../assets/Photos/bg-bartenders.png");
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.title {
  font-family: "Aboreto-regular";
  padding-top: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  text-align: center;
  margin-left: 100px;
}
