.bartenderLeft img {
  display: flex;
  width: 350px;
  height: 450px;
  float: left;
  padding: 35px;
}

.subTitle {
  font-family: "Aboreto-Regular";
  text-align: left;
  font-size: 24px;
  padding: 70px 10px;
  margin: 80px 0px 25px 0px;
  height: 32px;
}

.text {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 5px 30px 15px;
}
