.bartenderLeft img {
  display: flex;
  width: 350px;
  height: 450px;
  float: left;
  margin-left: -10px;
}
.bartenderLeft img,
.subTitle {
  padding-right: 25px;
}

.subTitle {
  font-family: "Aboreto-Regular";
  text-align: left;
  justify-content: start;
  font-size: 24px;
  margin: 80px 0px 25px 0px;
  padding: 40px 10px 50px;
}
.subTitle,
.text {
  padding-bottom: 40px;
}

.text {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 5px 5px -75px;
  margin: 10px 5px 15px -1px;
}
