.bartendersWrap {
  width: 1440px;
  min-height: 338px;
  margin-right: 100px;
  margin-left: 10px;
  justify-content: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #f7f6f6;
}

h3 {
  font-family: "Aboreto-Regular";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 100px;
  margin-left: 250px;
  text-align: center;
  color: #000000;
}

/* wrapper1 */
.wrapper1 {
  display: flex;
  background-color: #f7f6f6;
}
.leftWrap {
  width: 350px;
  height: 450px;
  margin: 50px 0px 0px 100px;
  color: #d9d9d9;
  left: 100px;
  top: 1796px;
  bottom: 0%;
  background-image: url("../assets/Photos/michael-dam-mEZ3PoFGs_k-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightWrap .hannah {
  font-size: 24px;
  margin-left: 40px;
}
.rightWrap p {
  width: 840px;
  height: 196px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin: 120px 80px 0 50px;
  text-align: left;
}

/* second bartender */
/* .rightWrap {
  width: 350px;
  height: 450px;
  float: right;
  color: #d9d9d9;
  background-image: url("../assets/Photos/prince-akachi-J1OScm_uHUQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

  top: 2296px;
  left: 990px; */

/* .leftWrap {
  width: 840px;
  height: 196px;
  float: left;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  
}
.ava {
  font-size: 24px;
} */

/* third bartender */
/* .leftWrap {
  width: 350px;
  height: 450px;
  margin: 50px 0px 0px 100px;
  color: #d9d9d9;
  left: 100px;
  top: 1796px;
  bottom: 0%;
  background-image: url("../assets/Photos/austin-wade-X6Uj51n5CE8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightWrap {
  width: 840px;
  height: 196px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin: 120px 80px 0 50px;
  text-align: left;
}
.rightWrap span {
  font-size: 24px;
} */
