.container {
  width: 1440px;
  min-height: 338px;
  justify-content: center;
  display: inline-block;
  background-image: url("../assets/Photos/bg-bartenders.png");
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top 100px right 0px; */
}
.title {
  text-align: center;
  justify-content: center;
  font-size: 56px;
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  left: 250px;
  top: 1682px;
}
