.contactPage {
  border: 5px solid tomato;
  background-color: #212121;
  width: 1440px;
  height: 504px;
  margin-top: 100px;
  display: block;
}
.formContact {
  display: flex;
}
form {
  width: 49.5%;
  color: #fafafa;
  margin-top: 50px;
  margin-left: 70px;
}
input {
  display: flex;
  border: none;
  width: 300px;
  background: transparent;
  border-bottom: 1.2px solid #fafafa;
}
input:focus {
  outline: none;
}
textarea {
  border: none;
  border-bottom: 1px solid #fafafa;
}

.formInput {
  display: inline-block;
  text-decoration: none;
  padding: 18px;
  letter-spacing: 2px;
  background-color: #212121;
  margin: 25px 2px 5px 10px;
}

/* contact  */
.contact {
  float: right;
  width: 49.5%;
  font-family: "Montserrat";
  background-image: url("../assets/Photos/bg-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 1px right 110px;
}
.heading2 {
  font-family: "Aboreto-regular";
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #fafafa;
  margin-top: 40px;
  margin-left: 250px;
}
.bodyText2 {
  font-size: 18px;
  line-height: 38px;
  color: #fafafa;
  margin-left: 20px;
  margin-top: 110px;
}

/* social-media */
.social {
  display: flex;
  color: #fafafa;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding-top: 45px;
}

.col {
  padding: 20px;
  margin-top: -20px;
}
