.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;

  padding: 0 50px;
  margin: 0 122px;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  font-family: "Aberato";
  z-index: 13;
}

.logo {
  font-family: "Times";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
  width: 205px;
  height: 30px;
}

.nav {
  font-family: "Aboreto";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: absolute;
  height: 52px;
  left: 800px;
  top: 24px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: -35px;
}
.nav a {
  color: inherit;
  text-decoration: none;
  /* height: 100%; */
  display: flex;
  align-items: center;
  padding: 10px;
}
.nav li {
  border-bottom: transparent solid 2px;
}
.nav li:active {
  background-color: rgb(57, 6, 104);
}
.nav li:hover {
  border-bottom: #a45ee5 solid 4px;
}
