* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.navbar {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  font-family: "Aberato";
}

.logo-title {
  font-family: "Times";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
  width: 205px;
  height: 40px;
  top: 10px;
  left: 10px;
}

.nav {
  font-family: "Aboreto";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 40px;
  position: absolute;
  width: 811px;
  height: 52px;
  left: 609px;
  top: 24px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li:active {
  background-color: rgb(57, 6, 104);
}
.nav li:hover {
  border-bottom: #a45ee5 solid 2px;
}
