.navbar {
  border: 5px solid tomato;
  position: fixed;
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
  padding: 0 50px;
  top: 0px;
  font-family: "Aberato-Regular";
  z-index: 10;
}

.logo {
  width: 205px;
  height: 40px;
  font-family: "Times";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.logo a {
  text-decoration: none;
  font-family: "Times";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
}
.nav {
  font-family: "Aboreto";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 52px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: -35px;
}
.nav a, .nav span {
  color: inherit;
  text-decoration: none;
  /* height: 100%; */
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.nav li {
  border-bottom: transparent solid 4px;
}
.nav li:hover {
  border-bottom: #a45ee5 solid 4px;
}
