.container {
  width: 950px;
  height: 350px;
  background-color: #fafafa;
  /* border: 2px solid red; */
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;

  position: fixed;
  top: 20%;
  left: 15%;
  z-index: 16;
}

.modalLeft {
  width: 450px;
  height: 350px;
  background: #212121;
  color: #fafafa;
  font-family: "Aboreto-Regular";
}
.modalLeft img {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 30px;
  width: 150px;
  height: 200px;
  padding-top: 45px;
  margin-top: 60px;
  margin-left: 70px;
}
.modalLeft input {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 30px;
  width: 150px;
  height: 200px;
  padding-top: 45px;
  margin-top: 60px;
  margin-left: 70px;
  cursor: pointer;
  opacity: 0;
}
.modalRight {
  width: 600px;
  height: 400px;
  background: #fafafa;
  color: #ffffff;
  font-family: "Aboreto-Regular";
  margin-left: -190px;
  float: right;
}

.title {
  background: #212121;
  width: 600px;
  height: 74px;
  margin: 25px 25px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Aboreto-Regular";
  color: white;
}
.desc {
  width: 600px;
  height: fit-content;
  background: #212121;
  margin: 25px 25px;
  font-size: 12px;
  font-family: "Aboreto-Regular";
  color: white;
  padding: 4px;
}

.btn {
  width: 45px;
  height: 45px;
  background: #212121;
  color: #fafafa;
  font-family: "Aboreto-Regular";
  margin: 315px -300px;
  padding: 2px;
  border-radius: 6px;
  cursor: pointer;
}
