.overlay{
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    background: url('../../assets/Photos/edit-pencil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212121;
    transition: all .5s ease;
    z-index: 2;
}

.overlay:hover{
    opacity: .5;
    transition: all .5s ease;
}