.wrapper {
  font-family: "Aboreto";
  background-color: #212121;
  width: 1100px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/Photos/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  font-family: "Aboreto-regular";
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 30%;
  color: #ffffff;
}

.wrap {
  margin-top: 40px;
  margin-left: 25%;
  /* border: 1px solid blue; */
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}
.inputWrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  padding: 7px;
  gap: 17px;
}
.wrap label {
  color: #ffffff;
  padding-left: -8px;
  width: 56px;
  left: 411px;
  top: 225px;
}

.wrap input {
  background-color: #ffffff;
  padding: 7px;
  width: 140px;
  height: 28px;
  left: 327px;
  top: 300px;
}

.btn {
  font-family: "Montserrat";
  padding: 9px;
  margin-left: 145px;
  border-radius: 8px;
  padding-bottom: 10px;
  margin-top: 20px;
}
/* .txt {
  margin-left: -10px;
}
.link {
  color: green;
  text-decoration: none;
}
.text {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  margin-left: 90px;
  padding: 15px;
  gap: 10px;
} */

.social {
  display: flex;
  width: 140%;
  background-color: #212121;
  justify-content: center;
  padding-top: 5px;
  margin: 0 70px 0 -110px;
}

.icon {
  padding: 0 10px;
  justify-content: center;
  height: 12px;
}
