.passwordReset {
  font-family: "Aboreto";
  background-color: #212121;
  width: 1100px;
  height: 620px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/Photos/bg-passwordreset.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.passwordReset form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.title2 {
  font-family: "Aboreto-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  padding-top: 7px;
  color: #fafafa;
}

.wrap2 {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  align-items: center;
}

.inputWrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.email {
  margin-left: 55px;
}

.wrap2 label {
  color: #ffffff;
  padding-right: 5px;
  height: 28px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
}

.wrap2 input {
  background-color: #fff;
  padding: 7px;
  width: 140px;
  height: 28px;
  margin-bottom: 20px;
}
.txt {
  margin-left: -10px;
  color: #fafafa;
}
.link {
  color: green;
  text-decoration: none;
}
.text {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  margin-left: 90px;
  padding: 15px;
  gap: 10px;
}

.social {
  display: flex;
  width: 1440px;
  height: 100px;
  background-color: #212121;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 24px;
  margin-left: 50px;
}
