.passwordReset {
  font-family: "Aboreto";
  background-color: #212121;
  width: 100%;

  /* justify-content: center;
  background-image: url("../assets/Photos/bg-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 70px right 0px; */
}
.title {
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

.wrap {
  background-color: #fff;
  padding: 0px 2px 5px 10px;
  border: 1px solid #fafafa;
  margin-right: 70px;
}

.btn {
  padding: 5px;
}
